<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBybIm1eDLY6t_wHzmKG5LN-BXUtXYZJLo</string>
	<key>GCM_SENDER_ID</key>
	<string>845339002655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelManager</string>
	<key>PROJECT_ID</key>
	<string>hostel-manager-d0123a</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-manager-d0123a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845339002655:ios:fbc4d2c07aa801b875d22a</string>
	<key>DATABASE_URL</key>
	<string>https://hostel-manager-d0123a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>